.root {
    -fx-background-image: url("../images/background.jpg");

}
#city,#country,#name,#stars{
    -fx-text-inner-color: #ff386b;

}
#filter {
    -fx-background-color: transparent;
}
#filter:hover{
    -fx-background-color:red;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}